body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}
header {
    width: 600px;
    background-color: #5a5a5c;
    padding:2px;
    margin: 0 auto;
}

header p {
    margin: 10px;
    color: aliceblue;
    text-align: center;
}

main h1 {
    text-align: center;
    font-size: 20px;
}

picture {
    text-align: center;
    display: block;
}

img {
    width: 290px;
}

section {
    width: 250px;
    padding: 20px;
    margin: 20px auto;
    background-color: rgb(215, 214, 214);
}

section h2 {
    font-size: medium;
    border-bottom: 1px solid #5a5a5c;
}

section p {
    font-size: small;
}

section ul {
    padding-left: 20px;
}

section li {
    font-size: small;
}

footer {
    width: 600px;
    background-color: #5a5a5c;
    padding:2px;
    text-align: center;
    margin: 0 auto
}

footer p {
    margin: 10px;
    color: aliceblue;
    text-align: center;
    font-size: small;
}
